{% extends 'mainapp/home.html' %}
{% block content %}
<div class="containerGames">
  <a href="#">
    <div class="card">
        <div class="card-details">
          <p class="text-title">Card title</p>
          <p class="text-body">Here are the details of the card</p>
        </div>
        <button class="card-button">More info</button>
      </div>
  </a>
    <div class="card">
        <div class="card-details">
          <p class="text-title">Card title</p>
          <p class="text-body">Here are the details of the card</p>
        </div>
        <button class="card-button">More info</button>
      </div>
    <div class="card">
        <div class="card-details">
          <p class="text-title">Card title</p>
          <p class="text-body">Here are the details of the card</p>
        </div>
        <button class="card-button">More info</button>
      </div>
    <div class="card">
        <div class="card-details">
          <p class="text-title">Card title</p>
          <p class="text-body">Here are the details of the card</p>
        </div>
        <button class="card-button">More info</button>
      </div>
    <div class="card">
        <div class="card-details">
          <p class="text-title">Card title</p>
          <p class="text-body">Here are the details of the card</p>
        </div>
        <button class="card-button">More info</button>
      </div>
</div>
{% endblock %}