{% extends 'mainapp/home.html' %}

{% block content %}
<div class="wrapper">
    <div class="card-switch">
            <span class="card-side"></span>
            <div class="flip-card__inner">
                <div class="flip-card__front">
                    <div class="title">Log in</div>
                    <form class="flip-card__form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ form.email.errors }} {# Display email field errors #}
                        {{ form.email }}
                        {{ form.password1.errors }} {# Display password1 field errors #}
                        {{ form.password1 }}
                        <button class="flip-card__btn">Log in</button>
                    </form>
                    {% if error_message %}
                    <p style="color: red;">{{ error_message }}</p>
                    {% endif %}
                    <a href="/recoverpassword" class="">Forgot password?</a>
                    <a href="{% url 'register_user' %}">Don't have a account? Sign up</a>
                    <div class="help-message">
                        <!-- Add your help messages here -->
                        <p>This is the login form. Please enter your email and password to log in.</p>
                    </div>
                </div>
         </div>
</div>
{% endblock %}
