{% extends 'mainapp/home.html' %}

{% block content %}
<div class="wrapper">
    <div class="card-switch">
            <span class="card-side"></span>
            <div class="flip-card__inner">
                <div class="flip-card__front_back">
                    <div class="title">Sign up</div>
                    <form class="flip-card__form" method="post" action="{% url 'register_user' %}">
                        {% csrf_token %}
                        {{ form.username.errors }} {# Display username field errors #}
                        {{ form.username }}
                        {{ form.email.errors }} {# Display email field errors #}
                        {{ form.email }}
                        {{ form.password1.errors }} {# Display password1 field errors #}
                        {{ form.password1 }}
                        {{ form.password2.errors }} {# Display password2 field errors #}
                        {{ form.password2 }}
                        <button class="flip-card__btn">Confirm!</button>
                    </form>
                    {% if error_message %}
                    <p style="color: red;">{{ error_message }}</p>
                    {% endif %}
                    <div class="help-message">
                        <!-- Add your help messages here -->
                        <p>This is the sign-up form. Your password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one digit, and one special character.</p>
                    </div>
                </div>
    </div>
</div>
{% endblock %}
